#window{
	padding-right: 725px;
	padding-left:10px;
	padding-top: 10px;
	background-color: #DEDEDE;
}
#box{
	background-color: #CDCDCD;
	width: 50%;
}
#lbl1{
	font-size: 50px;
	font-weight: bold;
}
#lbl2{
	font-size: 20px;
}
#fecha{
	margin-left: 100px;
}
.dia{
	margin-left: 20px;
	color:#777;
}
#boton{
	margin-left: 240px;
}
.botones{
	margin-left: 20px;
}
.hbox{
	margin-left: 5px;
}
#hbox1{
	margin-left: 5px;
	margin-top: 5px;
}
.diaActivo{
	color:#000000;
}