html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

table{
	width: 15%;
}

td{
	text-align: center;
}